.CreatepageHead{
    background-Image:url(../ImagesUsed/Music3.jpg);
    background-position: left;
  }
  .PageHeading{
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    font-size: 50px;
    color: rgba(0, 119, 255, 0.945);
    float: left;
  }
  .RoomID{
    display: inline-block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
    float: right;

  }
  .PageHeading{
    margin-left: 5%;
  }
  .Block-1{
       margin-top: 10%;
       width: 60%;
       margin-left: 10%;
  }
  .Block-2{
    margin-top: 10%;
    width: 60%;
  }
  .Block-3{
    margin-top: 10%;
    width: 60%;
    margin-left: 10%;
  }
  .Block-4{
  margin-top: 10%;
  width: 60%;
  height: 4pc;
  }
  .Block-3 {

    left: 35%;
    bottom: 46%;
    
  }
  .gen-code{
    width: 30%;
    margin-top: 2%;
    margin-left: 5%;
    background-color: rgba(0, 119, 255, 0.945);
    color: white;
    font-size:120%;
  }
  .btn-bottom{
    margin-top: 5%;
    width: 20%;
    height: 4pc;
    margin-left: 37%;
    background-color: rgba(0, 119, 255, 0.945);
    color: white;
    font-size: 200%;
  }
  .CopyPasscode .Passcode{
    display: inline-flex;
    
  }

  