.Createpage{
    background-Image:url(../ImagesUsed/Music3.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position:absolute;

    width: 100%;
    height: 100%;
  }
  .PageHeading{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 50px;
    color: rgba(0, 119, 255, 0.945);
    float: left;
  }
  .RoomID{

    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
    float: right;

  }
  .PageHeading{
    margin-left: 5%;
  }
  .Block-1{
       margin-top: 10%;
       width: 60%;
       margin-left: 10%;
  }
  .Block-2{
    margin-top: 10%;
    width: 60%;
  }
  .Block-3{
    margin-top: 10%;
    width: 60%;
    margin-left: 10%;
  }
  .Block-4{
  margin-top: 10%;
  width: 60%;
  height: 4pc;
  
  }
  .Block-3 {

    left: 35%;
    bottom: 46%;
    
  }
  .gen-code{
    width: 100%;
    margin-top: 10px;

    font-size:120%;
  }
  .btn-bottom{
    margin-top: auto;
    width: 400px;
    height: 4pc;
    margin-left: auto;
    font-size: 30px;
  }
  .bottom{
text-align: center;
margin-top: 50px;
  }

 .GameRules{
  height: 150px;
 }
 .ComponentsCommonStyles{
  
   height: 45px;
 }


  