

.PlayerCard{
    display: inline-block;
    margin-left: 20px;  
}
.PlayerImageContainer{
    position: relative;
    top: 0;
    left: 0;
}
.PlayerImage{
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid #03bfcb;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    object-fit: cover;
   
    
}

.OnlineStatusIndicator{
    position: absolute;
    top: 1px;
    right: 1px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    object-fit: cover;
   
}

.PlayersInfo{
    font-size: 10px;
}

.LogedInPlayerInfoContainer{
    display: inline-block;
    margin-left: 5%;
    margin-top: 10px;
   
}
.LogedInPlayerImageContainer{
    display: block;
    
    
}


.LogedInPlayerImage{
    border: 2px solid #03bfcb;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    object-fit: cover;
    display: inline;
    

}
.LogedInPlayerName{
    font-size: 25px;
    font-weight: bold;
    display: inline;
    color: #475ee6;
}
.ButtonHowToPlay{
    float: right;
    margin-right: 5%;
    width: 200px;
    margin-top: 10px;
 
}
.WaitingLobby{
    background-color: #ffd9d8;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
}
.WaitingLobbyHead{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}