@media all and (min-width: 480px) {
  
  .Signup {
  background-color: bisque;
      padding: 60px 0;
    }
  
    .Signup form {
      background-color: bisque;
      margin: 0 auto;
      max-width: 320px;
    }
  }