
.JoinRoomForm{
    margin-left: 100px;
}

.PageHeading{
    font-size: 40px;
    position: relative;
}
.FormJoin{
   
}
.btn-bottom{
    width: 35%;
    height: 20%;
    font-size: medium;
}
.PaddingLeft-0{
    padding-left:0;
}
.PaddingRight-0{
    padding-right:0;

}